/* CSS Document */
html{
	position: relative;
	min-height: 100%;
}

body{
	background: url(../images/hello_background3.jpg);
	background-size: 100% auto;
	background-size: cover;
}

.navbar{
    background-color: rgba(236,151,193,0.6); 
    border-style: outset;
    border-width: 0px 0px 5px 0px;
    border-radius: 5px;
    border-color: rgba(8, 9, 10, 0.274);
	padding: 0px;
	color: #f4faff;
}

.navbar-header{
	background-color: rgb(236,151,193);
	height: 100%;
}

ul{
    list-style-type: none;
}

a{
	color: #F4FAFF;
}

.nav-item{
	display: inline;
    font-size: 20px;
}

.mainContent{
	background-color: rgba(8,9,10, 0.99);
	color: #f4faff;
}

hr{
    width: 95%;
	margin: auto;
	margin-bottom: 10px;
    height: 5px;
    background-color: #f4faff;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: rgba(8, 9, 10, 0.397);
	color: #F4FAFF;
	border-width: 5px 0px 0px 0px;
	border-color: rgb(124,198,254);	
	border-style: solid;
}


.profileImg{
	width: 145px;
/*	border-radius: 50px;*/
}

.myWorkImg{
    width: 293px;
    height: 195px;
}

/*
.hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
	color: white;
	width: 100%;
	background-color: rgb(236,151,193);
	background-color: rgba(236,151,193,0.7);
}
*/
.imgBannerBlock {
	display: inline-block;
	position: relative;
}

.imgBanner {
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
}
